.tags-container {
    display: flex;
    padding: 0;
    width: 80vh;




}




.tag {
    display: flex;
    background-color: #FF6060;
    padding: 4px 8px;
    margin: 4px;
    border-radius: 15px;
    width: 20%;
    height: 20px;
    justify-content: center;
    align-items: center;
    color: white;

}

.Logements_Title {
    color: #FF6060;
}

.Logements_Location {
    color: #FF6060;
}

@media screen and (max-width:768px) {
    .tags-container {

        width: 100%;
    }

    .tag {

        font-size: 14px;

        width: 30%;
    }
}