.tags-container {
    display: flex;
    width: 1000px;
    gap: 1em;
    border: 2px solid red;
}


.tag {
    display: flex;
    background-color: #FF6060;
    padding: 4px 8px;
    margin: 4px;
    border-radius: 15px;
    width: 20%;
    height: 20px;
    justify-content: center;
    align-items: center;
    color: white;

}