.logements {
    position: relative;
    height: 380px;
    width: 350px;
    overflow: hidden;




}

.logements img {

    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.logements-title {
    position: absolute;
    /* Placez le titre en position absolue par rapport à .logements */
    bottom: -10px;
    /* Ajustez la position verticale comme nécessaire */
    left: 10px;
    /* Ajustez la position horizontale comme nécessaire */
    color: white;
    width: 80%;
    /* Couleur du texte du titre */
    font-size: 25px;
    padding: 5px 10px;
    /* Ajoutez un peu d'espacement autour du texte du titre */

}

@media screen and (max-width: 768px) {

    .logements {
        width: 100%;

        height: 280px;
    }



}