.Rate {

    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__Section {

        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5em;

    }

    &__Stars__Can {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;


    }



    &__Can {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__Name {

        color: #FF6060;
        width: 90px;
        margin-left: 80px;

    }

    &__Picture {
        border-radius: 50%;
        height: 90px;
    }

}





@media screen and (max-width:768px) {
    .Rate {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        &__Section {
            width: 50%;

        }

        &__Picture {
            border-radius: 50%;
            height: 80px;
        }

        &__Stars__Can {
            display: flex;
            justify-content: flex-start;

        }

        &__Name {
            font-size: 20px;
        }

    }

    .Star {
        width: 30px;
        height: 30px;

    }





}