.Test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    height: 500px;

}

.Error {
    width: 500px;


}

.Error-Text {
    color: red;
}