.Head {
    width: 95%;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 2px solid blueviolet;

}

.img-logo {
    max-width: 100px;
    height: auto;
}

.nav-link {
    text-decoration: none;
    color: white;

    list-style: none;

}


ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgb(255, 0, 200);
}