/* Dans votre fichier Home.css */

.Acceuil {
    text-align: center;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



    border: 2px solid rgb(238, 168, 130);
    /* Ajustez la largeur selon vos besoins */
}

.Card a {


    /* 33.33% pour trois cartes par ligne, -20px pour l'espace entre les cartes */

    color: whitesmoke;
    padding: 10px;
    font-size: 10px;
    text-decoration: none;


}

.Image-Card {
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    /* Pour maintenir le ratio de l'image */

}

.Vignettes {
    width: 350px;
    height: 350px;
    border: 2px solid greenyellow;
    display: flex;
    flex-direction: column;

}

.Vignettes-Tittle {
    position: relative;
    top: 290px;
    opacity: 1;
    font-size: 20px;
}