.Home-Display {
    border: 2px solid red;
    width: auto;
    height: 500px;
}

/* Style pour la liste des logements */
.Logements-Can {


    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;

}

.Logements-liste {
    border: 1px solid rgb(255, 132, 0);


    width: 200px;
    /* Pour créer 3 colonnes par ligne */
    box-sizing: border-box;
    text-align: center;
    height: 450px;
    margin: 30px;
    box-shadow: inset 0 0 10px #000000;
}

/* Style pour les titres des logements */
h2 {
    font-size: 18px;
    margin: 10px 0;
}

/* Style pour les descriptions des logements */
p {
    font-size: 14px;
    margin: 10px 0;
}

/* Style pour les images des logements */
.Logements-image {
    width: 10%;
    object-fit: fill;

}