/* Dans votre fichier Home.css */

.Acceuil {
    text-align: center;
}

.Card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    border: 2px solid violet;
    /* Ajustez la largeur selon vos besoins */
}

.Card a {

    flex: 0 0 calc(33.33% - 20px);
    /* 33.33% pour trois cartes par ligne, -20px pour l'espace entre les cartes */
    text-decoration: none;
    color: red;
    padding: 10px;
    font-size: 10px;


}

.Image-Card {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    /* Pour maintenir le ratio de l'image */
}

.Vignettes {
    border: 2px solid greenyellow;
}