.Logements-can {

    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
}



.drop {

    /* Espacement entre les éléments */
    width: 80vw;
    margin: auto;
    border: 2px solid rgb(255, 0, 221);
}