.appartement-card {
    min-height: 35vw;
    background-color: rgb(155, 152, 152);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    border-radius: 50px;
    margin-top: 20px;

}

@media screen and (width <=768px) {
    .appartement-card {
        justify-content: center;
        background-color: white;
    }
}