.appartement-card {

    margin: auto;
    height: 100%;
    background-color: rgb(155, 152, 152);
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    border-radius: 50px;
    margin-top: 20px;



}

.appartement-card a {

    border-radius: 20px;
    width: 30%;
    display: grid;
    align-items: flex-end;

}

.toto {

    display: flex;
    justify-content: center;


}