.Erreur {

    &__Text {
        display: block;
        color: #ff6060;
        font-size: 25px;

    }

    &__Link {
        margin-top: 160px;
        display: block;
        color: #ff6060;
    }



}






@media screen and (max-width:768px) {
    .Erreur {



        &__Logo {
            width: 100%;


        }

        &__Img {
            width: 90%;
        }

        &__Text {
            width: 100%;
        }

        &__Text span {
            display: block;
            /* Place le contenu du span sur une nouvelle ligne */

        }

    }


}