.Collapse {

    &__Container {

        font-size: 24px;
        width: 90%;
        margin: 40px auto;
        border-radius: 5px;

    }

    &__Can {
        background-color: #FF6060;
        padding: 10px 20px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    &__Tittle {
        font-weight: 500;
        margin: 0;
        color: white;
        font-size: 30px;
    }

    &__Text {
        background-color: #F6F6F6;
        padding: 30px 20px;
        margin: 0;
        color: #FF6060;
        font-size: 30px;
    }

    &__Can img {

        transition: transform 0.3s ease 0.2s;
    }

    &__Can img::before,
    &__Can img::after {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.3s ease;
    }

    &__Can.open img::before {
        transform: rotate(180deg);
    }

    &__Can.open img::after {
        transform: rotate(0deg);
    }

    &__Can img::before {
        background-image: url('../../assets/ArrowDown.png');
    }

    &__Can img::after {
        background-image: url('../../assets/ArrowUp.png');
    }


}

.CollapseTwo {

    display: flex;
    gap: 35px;


}







@media screen and (max-width:768px) {

    .Collapse {

        &__Container {
            width: 100%;
        }

        &__Text {

            margin: 10px auto;
            font-size: 23px;

        }

        &__Tittle {
            font-size: 25px;
        }

    }

    .CollapseTwo {

        flex-direction: column;
        width: 100%;
        gap: 0;

    }


}