.head {
    width: 90%;
    height: 8vw;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    color: rgb(229, 71, 71);
    font-weight: 700;
    margin-bottom: 2rem;







}

.head a {
    text-decoration: none;
    color: #ff6060;

}

.head a:hover {
    text-decoration: underline;
}

.head-logo {
    margin-right: 1rem;

}

.head-nav-link {
    text-decoration: none;
    color: #ff6060;
    margin-left: 50px;




}

.test {
    display: flex;





}

@media screen and (max-width:768px) {
    .head {
        width: 90%;




    }

    .head-logo {
        margin-right: 0.5rem;
        width: 100%;

    }

    .head-nav-link {

        margin-left: 20px;
    }

    .test {
        flex-wrap: wrap;
        font-size: smaller;
    }
}