.head {
    max-width: 80vw;
    height: 8vw;
    margin-top: 2rem;
    margin: auto;
    display: flex;
    gap: 2rem;

    align-items: center;
    color: rgb(229, 71, 71);
    font-weight: 700;
    padding: 0 2rem;
}

.head a {
    text-decoration: none;
    color: #ff6060;
}

.head a:hover {
    text-decoration: underline;
}

.head-logo {
    margin-right: 45rem;

}










/*
.Head {
    width: 95%;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 2px solid blueviolet;

}

.img-logo {

    height: 100px;
}

.nav-link {
    text-decoration: none;
    color: white;

    list-style: none;

}


ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgb(255, 0, 200);
}
*/