.BannerCanAbout {
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
    height: 230px;
    background-image: url("../../assets/img/About.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 35px;


}




@media screen and (max-width:768px) {
    .BannerCanAbout {

        width: 90%;
        margin: auto;
        height: 350px;
        margin-bottom: 50px;



    }


}