.Footer {

    background-color: black;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;








    /* Ajoutez une couleur de fond pour le footer */
    text-align: center;
    /* Centrez le contenu horizontalement */
    padding: 10px;
    /* Ajoutez de l'espace autour du contenu du footer */
}

.Footer-Logo {
    filter: brightness(0) invert(1);
    height: 50px;
    margin-bottom: 40px;


}

.Footer-Text {
    color: white;


}

@media screen and (max-width:768px) {
    .Footer {
        width: 100%;
        margin-top: 118px;
        justify-content: center;

    }

    .Footer-Logo {
        margin: 0;
    }
}