.BannerCan {
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
    min-height: 230px;
    background-image: url("../../assets/img/home.png");
    background-repeat: repeat-x;
    background-size: 200%;
    background-position: center;
    border-radius: 35px;
    display: grid;
    place-content: center;
    color: white;
    position: relative;

}







@media screen and (max-width:768px) {
    .BannerCan {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .Banner_Title {

        width: 100%;
        font-size: 35px;





    }

    .Banner_Title span {
        display: block;

    }
}