.BannerCan {
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
    min-height: 230px;
    background-image: url("../../assets/img/About.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 35px;
    display: grid;
    place-content: center;
    color: white;
    position: relative;




}


.BannerCan::before {
    position: absolute;
    content: "";
    border-radius: 35px;
    background-image: url("../../assets/img/About.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*reuni les proprietes top right bottom left*/
    inset: 0;
    opacity: 0.1;


}