.Banner {
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
    min-height: 230px;
    background-image: url("../../assets/img/home.png");
    background-repeat: repeat-x;
    background-size: 200%;
    background-position: center;
    border-radius: 35px;
    display: grid;
    place-content: center;
    position: relative;



    &__Title {
        color: white;
    }

}









@media screen and (max-width:768px) {
    .Banner {
        width: 100%;
        min-height: 150px;
        display: flex;
        align-items: center;
        opacity: 0.9;


        &__Title {
            width: 100%;
            font-size: 35px;
            margin-left: 20px;
        }


        &__Title span {

            display: block;

        }


    }




}