.Slider {
    margin: auto;
    width: 90%;



}

.Logements-img {
    position: relative;
    width: 100%;
    margin: auto;
    height: 500px;
    border-radius: 35px;
}

.prev-arrow,
.next-arrow {
    position: absolute; // Position absolue par rapport à la div parente
    top: 50%; // Position verticale au milieu de l'image
    transform: translateY(-50%); // Décalage vers le haut de 50% de la hauteur
    cursor: pointer; // Curseur pointer pour indiquer que les flèches sont cliquables
}

.prev-arrow {
    left: 25px; // Position à gauche de l'image
}

.next-arrow {
    right: 25px; // Position à droite de l'image
}

.appart {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 35px;
}

.Compteur {
    position: absolute;
    bottom: 0;
    /* Aligner à la base */
    left: 50%;
    /* Centrer horizontalement */
    transform: translateX(-50%);
    /* Ajuster le centrage horizontal */
    color: white;
}

@media screen and (max-width:768px) {
    .prev-arrow {
        left: 25px; // Position à gauche de l'image
        width: 20px;
        height: 30px;
    }

    .next-arrow {
        right: 25px; // Position à droite de l'image
        width: 20px;
        height: 30px;
    }

    .Compteur {
        display: none;
    }
}