.Error-Can {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid red;



}

.Error {
    margin-top: 150px;

}


.Error-Text {
    display: block;
    color: #ff6060;
    font-size: 25px;

}

.Error-Link {
    margin-top: 160px;
    display: block;
    color: #ff6060;
}

.Tony {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}