.Error-Can {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid red;
}

.Error {
    margin-top: 50px;
}


.Error-Text {
    display: block;
    color: aqua;
    font-size: 25px;

}

.Error-Link {
    margin-top: 160px;
    display: block;
}